@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    border: 1px solid var(--primary-color);
    background: yellow;
}

*:target {
    background: yellow;
}

q {
    quotes: none;
}

/* Timeline Container */
article {
    display: flex;

}

.timeline {
    background: var(--primary-color);
  }
  
  /* Outer Layer with the timeline border */
  .outer {
    border-left: 1rem solid black;
    /* border-radius: 1rem 0 0 0; */
  }
  
  /* Card container */
  .card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    border-radius: 1rem;
    max-width: 25rem;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .title {
    margin-top: -1rem;
  }
  
  /*  dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: transparent;
    border-radius: 999px;
    left: -2.25rem;
    top: 0;
    border: .25rem solid rgb(244,244,245);
  }

 .title-important::before {
    background: gold;
    background: linear-gradient(180deg, rgba(255,244,0,1) 0%, rgba(255,162,0,1) 100%);
    border: 0.5rem solid black;
    height: 2.5rem;  
    left: -3rem;
    margin-top: -0.6rem;
    width: 2.5rem;
 }

 .title-important.tot {
    margin-top: 2rem;    
 }

 .title-important.tot::before {
    bottom: 0;
    margin-bottom: -0.2rem;
    top: initial;
 }

 @media screen and (max-width: 480px)  {
    .title-important::before {
        border-color: rgb(244,244,245);;
    }
    
}

@media print {
    header {
        border: 1rem double black;
        margin-bottom: 3rem;
        padding-bottom: 20rem;
        page-break-after: always;
    }

    main {
        padding-top: 3rem;
    }

    .timeline {
        background: white!important;
      }

    .outer {
        border-left: 1rem solid white!important;
    }

    .title::before {
        border: .25rem solid black!important;
      }

    .title-important::before {
        border: 0.5rem solid black !important;
    }

    .title-important.tot {
        margin-top: 0;    
     }
    
     .title-important.tot::before {
        bottom: initial;
        margin-bottom: initial;
        top: 0!important;
     }    
}

.anchor {
  left: -1rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
}